
.problem{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 40px auto;


}

.arrow-wrapper{

    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
}
.cnv-wrap{
    display: flex;
    border: 1px solid #ccc;
}
.button-menu{
    display: flex;
    flex-direction: column;
    background: rgb(238, 238, 238);
    border: 1px solid #ccc;
}
.btn-menu.add{
    background: url('./media/icons8-360-degrees-16.png') 4px 4px no-repeat;
    background-size: 16px;
}
.btn-menu.select{
    background: url('./media/icons8-move-48.png') 0px 0px no-repeat;
    background-size: 24px;
    height: 24px;
}
.btn-menu.adds{
    background: url('./media/icons8-graph-clique-50.png') 0px 0px no-repeat;
    background-size: 24px;
    height: 24px;
}
.btn-menu.path{
    background: url('./media/icons8-line-48.png') 0px 0px no-repeat;
    background-size: 24px;
    height: 24px;
}
.btn-menu.remove{
    background: url('./media/icons8-delete-48.png') 0px 0px no-repeat;
    background-size: 24px;
    height: 24px;
}
.btn-menu.clear{
    background: url('./media/icons8-delete-bin-64.png') 0px 0px no-repeat;
    background-size: 24px;
    height: 24px;
}
.btn-menu.back{
    background: url('./media/icons8-reply-arrow-60.png') 0px 0px no-repeat;
    background-size: 24px;
    height: 24px;
}
.btn-menu.next{
    background: url('./media/icons8-forward-arrow-100.png') 0px 0px no-repeat;
    background-size: 24px;
    height: 24px;
}
.btn-menu{
    width: 24px;
    background: rgb(238, 238, 238);

    color: black;
    outline: none;
    border: none;
    border: 1px solid #ccc;
    /*background: url('./media/icons8-filled-circle-24.png') 0px 0px no-repeat;*/
    height: 24px;
}
.btn-menu:disabled{
    opacity: 0.5;
}
.btn-menu-active{

}
.arrow-wrapper .block{
    display: flex;

    padding: 10px;
    justify-content: center;
}
.arrow-wrapper .block span{
    color: white;
    font-size: 18px;
}
.point-grow{
    left:0;
    font-size: 10px;
    color: rgb(137,183,26);
    background: rgb(36,37,43);
}
.nextstep{
    padding: 10px;
    background: rgb(137,183,26);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 7px;

}
.nextstep:disabled{
    background: rgb(36,37,43);
    color: rgb(69,72,82);
}
.back {

}
.next{

}
/*.history{
    background: rgb(36,37,43);
    border-radius: 7px;
    margin-left: 15px;
    margin-top: 15px;
    padding: 5px;
    max-width: 640px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.history-elem{
    min-width: 150px;
    padding: 5px 10px;
    background: rgb(69,72,82);
    border-radius: 7px;
    margin-right: 7px;
    margin-bottom: 5px;
}
.history-elem p{
    margin:0;
    color: white;
    font-size: 14px;

}*/
.menu{
    display: flex;
    padding: 0px 10px;
    flex-direction: row;
    border: 1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

    border-radius: 7px;
}
.menu span{
    font-weight: bold;
    margin-right: 20px;
    color: black;
    padding: 15px 15px;
    cursor:pointer;
}
.menu p{
    padding: 15px 15px;
    color: black;
    cursor:pointer;
    margin: 0 0px;
    transition: 0.2s;
}
.menu p:hover{
    color: azure;
    cursor:pointer;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,98a6ad+50,d8e1e7+99,e0eff9+100 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #98a6ad 50%, #d8e1e7 99%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#98a6ad 50%,#d8e1e7 99%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#98a6ad 50%,#d8e1e7 99%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}
.main{
    display: flex;
    flex-direction: row;
}
.cnv-blck{
    padding: 20px 40px;
    background: rgb(222,222,222);
    margin-top: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 7px;
}
#cnv{
    width: 640px;
    height: 480px;

    box-sizing: border-box;

}
.menu-info{

    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.btn-tsk{
    background: rgb(42,162,210);
    outline: none;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.task-text{
    display: flex;
    flex-direction: column;
    margin-top:15px;

}
.task-text span{
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.task-text p{
    color: black;

    background: rgb(222,222,222);
    margin-top: 0;
    padding: 10px;
    margin-bottom: 0;

}

.tasks{

    background: rgb(222,222,222);
    border-radius: 7px;
    margin-bottom: 15px;
}
.tasks > p{
    margin:0;
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;

}
.actions{

}
.info{

}

.programms{
    display: flex;
    flex-direction: column;
    margin-top:15px;
    background:rgb(222,222,222);
    border-radius: 7px;
}
.programms span{
    color: black;
    font-weight: bold;
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border: 1px solid #ccc;
}
.programms p{
    color: black;

    margin-top: 0;
    padding: 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.tasks{
    display: flex;
    flex-direction: column;

    margin-top:15px;
}
.tasks span{
    color: rgb(137,183,26);
    font-weight: bold;
    background:  rgb(69,72,82);
    text-align: center;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.task-lst{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:15px 0;
}
.task-lst label{
    color: black;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;


}
.task-lst input{
    background: white;
    color: black;
    text-align: center;
    width: auto;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;

}
.task-lst .val{
    display: flex;
    padding: 5px;
    margin: 5px;
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    flex-direction: column;
    border-radius: 7px;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}
.newtask{
    background: rgb(238,238,238);
    border-radius: 7px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

}
.newtask span{
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#text-newtask {
    color: black;

    font-size: 16px;
}
.newtask p {
    color: black;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    font-size: 12px;
}



#data{
    position: absolute;
    top:0;
    display: none;
    border: none;
    left:0;
    font-size: 10px;
    border: 1px solid #ccc;
    color: black;
    background: rgb(238,238,238);
}
.actions{
    display: flex;
    flex-direction: column;
    margin-top:15px;
    background: rgb(222,222,222);

    border-radius: 7px;
    margin-bottom: 15px;
}
.actions h3{
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin:0;


}
.actions .rule{
    background: rgb(36,37,43);
    border-radius: 7px;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.actions .rule p{
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}
.actions .rule span{
    color: rgb(137,183,26);
    font-size: 12px;
}

.cnv-blck .statistic{
    display: flex;
    flex-direction: row;
    color: rgb(137,183,26);
    padding: 5px 10px;
    box-sizing: border-box;
    margin-top: 15px;
    font-size: 12px;
}
.cnv-blck .statistic p{
    margin: 0 10px;
}
.cnv-blck .statistic p span{
    color: red;
}
#setname{
    display: none;
    position: absolute;
    left: 0;
    top: 0px;
    background: rgb(238,238,238);
    outline: none;
    border: none;
    color: black;
    width: 60px;
    border: 1px solid #ccc;
}

.form_radio_group {
    display: none;
    position: absolute;
    left: 0;
    top:0;
    overflow: hidden;
}
.form_radio_group-item {
    display: inline-block;
    float: left;
}
.form_radio_group input[type=radio] {
    display: none;
}
.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 34px;
    border: 1px solid white;
    border-right: none;
    user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {

}
.form_radio_group .form_radio_group-item:last-child label {

    border-right: 1px solid white;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {

    border: 1px solid rgb(137,183,26);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(137, 183, 26, 0.75);
    -moz-box-shadow:    0px 0px 12px 0px rgba(137, 183, 26, 0.75);
    box-shadow:         0px 0px 12px 0px rgba(137, 183, 26, 0.75);
}

/* Hover */
.form_radio_group label:hover {
    color: #666;
}
input[type="checkbox"]{
    appearance:none;
    width:40px;
    height:16px;
    border:1px solid #aaa;
    border-radius:2px;
    background:#ebebeb;
    position:relative;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    transition: background 0.3s;
    box-sizing:border-box;
}
input[type="checkbox"]:after{
    content:'';
    position:absolute;
    top:-1px;
    left:-1px;
    width:14px;
    height:14px;
    background:white;
    border:1px solid #aaa;
    border-radius:2px;
    transition: left 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
input[type="checkbox"]:checked{
    background:#a6c7ff;
    border-color:#8daee5;
}
input[type="checkbox"]:checked:after{
    left:23px;
    border-color:#8daee5;
}

input[type="checkbox"]:hover:not(:checked):not(:disabled):after,
input[type="checkbox"]:focus:not(:checked):not(:disabled):after{
    left:0px;
}

input[type="checkbox"]:hover:checked:not(:disabled):after,
input[type="checkbox"]:focus:checked:not(:disabled):after{
    left:22px;
}

input[type="checkbox"]:disabled{
    opacity:0.5;
}
.params-graph{
    display: flex;
    flex-direction: row;
    background: rgb(238,238,238);
    border: 1px solid #ccc;
}

.selectstyle{
    height: 30px;
    font-size: 10px;
    border: none;
    color: black;
    background: rgb(238,238,238);
    border: 1px solid #ccc;

}
.selectstyle option{
    background: rgb(238,238,238);
}
.actions-user{
    background: rgb(222,222,222);
    border-radius: 6px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

}
.actions-user > p{
    text-align: center;
    color: black;
    margin: 0;
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.actions-wrapp{
    display: flex;

    flex-direction: column;
}
.actions table{
    border-collapse: collapse;
    border: 1px solid #ccc;
}
th, td:first-child {
    background: #AFCDE7;
    color: black;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
    padding-left: 10px;
    font-size: 14px;
}
td span{
    font-weight: bold;
}
th:first-child, td:first-child {
    text-align: left;

}
td:first-child {
    width: 15%;
}
.modules{


    background: rgb(222,222,222);
    border-radius: 7px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}
.modules h3{
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 10px;
    margin:0;
    margin-bottom: 15px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;

}
.modules pre{
    padding-left: 0;
    margin-left:0;
    padding: 5px;
    color: rgb(137,183,26);
}
.modules p{
    margin: 5px;
}
.modules p, h3 {
    color: black;
    padding: 5px;
}
.hiden{
    display: none;
}
.tooltip
{
    position: relative;
    cursor: help;
    display: inline-block;
}
.tooltip span
{
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    color: black;
    font-weight: normal;
    bottom: 30px;
    left: 50%;
    z-index: 999;
    width: 230px;
    margin-left: -127px;
    padding: 10px;
    border: 1px solid #ccc;
    opacity: 1;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltip:hover
{
    border: 1px solid #ccc; /* IE6 fix */
}

.tooltip:hover span
{
    visibility: visible;
}

.tooltip span:before,
.tooltip span:after
{
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #ddd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
}

.tooltip span:before
{
    border-top-color: #ccc;
    bottom: -9px;
}
.api-block{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background: rgb(222,222,222);

    border-radius: 7px;
    margin-bottom: 15px;
}
.api-block h3{
    margin:0;
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.api-block div p {
    margin:0;
}
.api-block p {
    margin: 10px;
}
.api-block div{
    border: 1px solid #ccc;
    border-radius: 7px;

    margin: 5px 5px;
    padding: 5px 10px;

}
.api-block div.dev{
    background: rgb(238,238,238);

}
.wrap-size{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 15px;
}
#frm-statistic{
    padding: 5px 10px;

}
.type-task{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.type-task > p {
    font-size: 12px;

    background: rgb(238,238,238);
    padding: 5px;
    margin: 5px;
}
